<html ng-app="app">
    <head>
        <title>Gulp & ES6</title>
        <script src='js/lib.min.js'></script>
        <script src='js/classes.min.js'></script>
        <script src='js/scripts.min.js'></script>
		<link href="css/main.css" rel="stylesheet" />
    </head>
    
    <body ng-controller="MainController as main">
		<div class="basediv">
			<h1>Yah, Mahn...!</h1>
			<h2>Dis is way cool...</h2>
			<p>Some angular controller data: "<span class="data" ng-show="main.visible">{{main.data1}}</span>", and: "<span class="data" ng-show="main.visible">{{main.data2}}</span>"</p>
			<p><button type="button" ng-click="main.hideData()">Hide/Show Angular Data</button></p>
		</div>
		<div class="gamediv">
			<h1>Using classes with typescript...</h1>
			<p>Created new game: {{main.game.name.toUpperCase()}}</p>
			<table>
				<thead>
					<tr>
						<th>{{main.game.name.toUpperCase()}} Players:</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in main.game.players">
						<td>
							<span class="playername">{{p.playerClass ? p.name + ', a ' + p.playerClass : p.name + ', just a Player'}}</span>
							<span class="attackbtn"><button type="button" ng-click="main.attackit(p)">Attack...!</button></span>
						</td>
					</tr>
				</tbody>
			</table>
			<p id="playerstatus">&nbsp;</p>
		</div>
    </body>
</html>